<% id = Math.random() %>
<h3 class="demo-code-title">code template</h3>
<div class="demo-code">
    <pre>
        <code id="<%- id %>">

        </code>
    </pre>
    <script>
		(function (codeId, demoId) {
			let code = document.getElementById(codeId).innerHTML;
			document.getElementById(demoId).innerText = '\n    ' + code;

		})('<%= componentId %>', '<%= id %>');

    </script>
</div>
