<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Basic Demo</h1>
    <h2>Empty</h2>

    <md-history></md-history>

<%- include ../partials/code-header.ejs %>
&lt;md-history&gt;&lt;/md-history&gt;
<%- include ../partials/code-footer.ejs %>

</body>
</html>
