<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Empty Component</h1>
    <% componentId='empty' %>
    <div id="<%= componentId %>" class="demo">
        <mkdn-story></mkdn-story>
    </div>
    <%- include ../partials/code-view.ejs %>

</body>
</html>
