<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Empty Component</h1>
    <md-story></md-story>

<%- include ../partials/code-header.ejs %>
&lt;md-story&gt;&lt;/md-story&gt;
<%- include ../partials/code-footer.ejs %>
    
</body>
</html>
