<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/header.ejs %>
</head>
<body>
    <h3><code>hidden</code> attribute</h3>

    <md-story hidden="false">some markdown</md-story>

<%- include partials/code-header.ejs %>
&lt;md-story hidden&gt;some markdown&lt;/md-story&gt;
<%- include partials/code-footer.ejs %>
</body>
</html>
