<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/header.ejs %>
</head>
<body>
    <md-story></md-story>
    <p>
        <code>
            &lt;md-story&gt;&lt;/md-story&gt;
        </code>
    </p>
</body>
</html>
