<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/header.ejs %>
</head>
<body>
    <md-story>some markdown</md-story>

<%- include partials/code-header.ejs %>
&lt;md-story&gt;some markdown&lt;/md-story&gt;
<%- include partials/code-footer.ejs %>
</body>
</html>
